/** light **/
$color-light: #f4f4f4;
$color-border: #ccc;
$color-light-border: #f4f4f4;
$color-light-tint: #f5f5f5;

$color-search-bg: #ff3881;
$color-recommend-title: #ff3881;

$color-tip-text: #aaa;